:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page .content {
    flex: 1 1 auto;
    display: flex;
}

.x-ray-reader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.x-ray-reader__menu {
    width: 300px;
    height: 100%;
    flex: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.x-ray-reader__menu-content {
    height: 100%;
    position: relative;
    overflow: visible;
}

.x-ray-reader__canvas {
    width: calc(100% - 300px);
    height: 100vh;
    flex: none;
    flex-direction: column;
}

.x-ray-reader__canvas-content-wrapper {
    width: 100%;
    height: 100%;
}

.x-ray-reader__canvas-content {
    width: 100%;
    height: calc(100% - 52px);
    overflow: auto;
    position: relative;
}

.x-ray__btn,
.x-ray__btn:hover,
.x-ray__btn:active {
    background-color: #1A76D2;
}

.x-ray__action-btn {
    border: 1px solid #e0e0e0;
}

#objects-holder {
    margin-top: 16px;
    height: calc(100% - 104px);
    overflow: auto;
}

#objects-holder:empty {
    display: none;
    margin: 0;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle {
    width: 24px;
    height: 24px;
    left: 0px;
}

.collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 24px;
}

.collection .collection-item {
    padding: 0;
    margin: 16px 0 0 0;
}

.collection .collection-item:not(:last-child) {
    padding: 0 0 16px 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar {
    padding-left: 32px;
    padding-right: 64px;
}

.collection .collection-item .actions {
    position: absolute;
    top: 0;
    right: 0;
}

.tabs .tab a {
    color: #212121;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #1A76D2;
}

.tabs .indicator {
    background-color: #1A76D2;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(26, 118, 210, 0.1);
}

.tabs-content.carousel.carousel-slider {
    height: auto !important;
    min-height: calc(100% - 64px);
    flex: 1 1 auto;
}

.x-ray-reader__canvas-controls button {
    border: 1px solid #e0e0e0;
}

.p-4i {
    padding: 1rem !important;
}
